@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/* @media only screen and (max-width: 1280px) and (min-width: 636px) {
    #navbar img{
        display: flex !important;
        justify-content: center !important;
    }
    #navbar h1{
        display: block;
        text-align: center;
    }
} */